<form class="form-register" role="form" ng-controller="registerController as vm">
  <h2 class="form-signin-heading">Please sign in</h2>
  <input type="text" class="form-control" placeholder="Username" required autofocus ng-model="vm.register_data.username">
  <input type="password" class="form-control" placeholder="Password" required ng-model="vm.register_data.password">
  <input type="password" class="form-control" placeholder="Confirm Password" required ng-model="vm.register_data.confirm_password">
  <input type="email" class="form-control" placeholder="Email Address" required ng-model="vm.register_data.email_address">

  <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="vm.register()">Sign in</button>
</form>
