<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HealthStreamDb" connectionString="Data Source=(localdb)\HealthStream;Initial Catalog=HealthStream;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>